html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgb(50, 47, 59);
}
div, span, p, button {
	box-sizing: border-box;
	user-select: none;
}
button {
	padding: 5px 15px;
	background-color: rgba(186, 204, 217, 0.8);
	border: 1px solid black;
	border-radius: 3px;
	font-size: 20px;
}
button:active {
	background-color: rgb(192, 196, 195);
	box-shadow: 2px 2px 5px black;
}

.animated {
	transition: all 300ms ease-in-out;
}
.scrollable {
	overflow: overlay;
}
.scrollable::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
	cursor: pointer;
}
.scrollable::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(75, 75, 75);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.scrollable::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgba(225, 225, 225, 0.1);
	box-shadow: inset 2px 2px 3px rgba(53, 53, 53, 0.2);
	cursor: pointer;
}

.page {
	position: relative;
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 5px solid rgb(19, 17, 36);
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	overflow: hidden;
}

.page > .scene {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 1;
	font-size: 16px;
}
.scene.waiting {
	top: 100%;
	z-index: 0;
	opacity: 0;
}
.scene.gone {
	top: -100%;
	z-index: 2;
	opacity: 0;
}
.scene.welcome {
	background-color: rgb(255, 254, 248);
}
.scene.arena {
	background-color: black;
}

.scene .cover {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0px;
	right: 0px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.scene.welcome .cover {
	background-image: url("../assets/cover.jpg");
}
.scene.welcome .panel {
	position: absolute;
	top: 85%;
	left: 0px;
	right: 0px;
	text-align: center;
}
.scene.welcome .panel button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.scene.worldline .cover {
	bottom: 35%;
	background-size: auto 100%;
}
.scene.worldline .hint {
	position: absolute;
	top: 32.5%;
	left: 5%;
	right: 5%;
	max-height: 50%;
	padding: 10px;
	transform: translateY(-50%);
	background-color: rgba(199, 210, 212, 0.6);
	backdrop-filter: blur(2px);
	box-shadow: inset 0px 0px 2px black, 2px 2px 5px gray;
	font-size: 18px;
	line-height: 20px;
	opacity: 1;
}
.scene.worldline .hint.hide {
	opacity: 0;
}
.scene.worldline .panel {
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;
	text-align: center;
}
.scene.worldline .panel button {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: 16px;
}
.scene.worldline .sheet {
	opacity: 1;
}
.scene.worldline .sheet.hide {
	opacity: 0;
}
.scene.worldline .money,
.scene.worldline .heart {
	position: absolute;
	top: 10px;
	color: white;
	font-size: 18px;
	text-shadow: 0px 0px 1px black, 1px 1px 3px black;
}
.scene.worldline .money {
	left: 10px;
}
.scene.worldline .heart {
	right: 10px;
}
.scene.worldline .fa-solid::before {
	margin-right: 5px;
}
.scene.worldline .fa-solid:empty::before {
	content: '';
}

.scene.arena .cover {
	background-image: url("../assets/arena.jpg");
}
.scene.arena .title {
	position: absolute;
	top: 10%;
	width: 100%;
	color: white;
	font-size: 32px;
	font-weight: bolder;
	text-align: center;
}
.scene.arena .panel {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}
.scene.arena .panel button {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.scene.field .cover {
	background-image: url("../assets/field.jpg");
}
.scene.field .area {
	position: absolute;
	top: 0%;
	left: 0px;
	right: 0px;
	height: 45%;
}
.scene.field .area.bottom {
	top: auto;
	bottom: 0%;
}
.scene.field .area .card {
	position: absolute;
	width: 120px;
	height: 160px;
	overflow: hidden;
}
.scene.field .area .card .pic {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.scene.field .area .score {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	text-shadow: 0px 0px 1px black, 1px 1px 3px black;
}
.scene.field .area.bottom .score {
	top: auto;
	bottom: 5px;
}
.scene.field .area.result {
	position: absolute;
	top: 50%;
	left: 5%;
	right: 5%;
	height: auto;
	transform: translateY(-50%);
	font-size: 36px;
	font-weight: bolder;
	color: white;
	text-shadow: 0px 0px 1px black, 1px 1px 3px black;
	text-align: center;
}

body.Arena .card {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 240px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 5px solid black;
	border-radius: 10px;
}
body.Arena .card .type {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 25px;
	text-shadow: 0px 0px 1px black, 1px 1px 3px black;
}
body.Arena .card .pic {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#GameOverInfo .hint {
	padding: 20px;
}
#GameOverInfo .panel {
	margin-top: 30px;
	text-align: center;
}

#NewCardInfo .hint {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
#NewCardInfo .card {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#MyCardList .hint {
	padding: 5px;
	padding-bottom: 0px;
}
#MyCardList .cardarea {
	position: absolute;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	top: 75px;
	bottom: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
}
#MyCardList .cardarea .card {
	width: 150px;
	height: 200px;
	margin-bottom: 10px;
}
#MyCardList .cardarea .card.selected {
	border-color: red;
}
#MyCardList .cardarea .card div {
	pointer-events: none;
}
#MyCardList .cardarea .card .index {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	text-shadow: 0px 0px 1px black, 1px 1px 3px black;
}
#MyCardList #SpellShower {
	display: block;
	font-size: 10px;
	white-space: nowrap;
}

#BattleHint {
	text-align: center;
}
#BattleHint .hint {
	margin-top: 10px;
}
#BattleHint .panel {
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
	.page {
		width: 100%;
		border: none;
	}
}