.duelmode_chooser {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 94;
	width: 800px;
	max-width: 100%;
	height: 0px;
	max-height: 100%;
	padding: 10px 0px;
	background-color: rgba(31, 32, 64, 0.75);
	backdrop-filter: blur(5px);
	border-top: 3px solid rgba(21, 85, 154, 1.0);
	border-bottom: 3px solid rgba(21, 85, 154, 1.0);
	box-shadow: inset 0px -3px 5px rgba(126, 22, 113, 0.75);
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 300ms ease-in-out, height 300ms ease-in-out, transform 300ms ease-in-out;
	overflow: hidden;
	pointer-events: none;
}
.duelmode_chooser.show {
	height: 450px;
	opacity: 1;
	pointer-events: all;
}

.duelmode_chooser .title {
	padding: 10px;
	padding-top: 0px;
	border-bottom: 1px solid rgba(21, 85, 154, 1.0);
	box-shadow: 0px 3px 5px rgba(126, 22, 113, 0.75);
	font-size: 24px;
	font-weight: bolder;
}
.duelmode_chooser .container .line {
	display: block;
	width: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(31, 32, 64, 0.0);
	border-left: 5px solid rgba(21, 85, 154, 1.0);
	border-bottom: 1px solid rgba(21, 85, 154, 1.0);
	box-shadow: 2px 3px 5px rgba(126, 22, 113, 0.75);
	cursor: pointer;
	transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
}
.duelmode_chooser .container .line:hover {
	background-color: rgba(31, 32, 64, 0.5);
	box-shadow: 4px 6px 10px rgba(126, 22, 113, 1.0);
}
.duelmode_chooser .container .line.invalid {
	color: rgba(94, 97, 109, 1.0);
	pointer-events: none;
}
.duelmode_chooser .container .line.button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: auto;
	padding: 5px 25px;
}
.duelmode_chooser .container .line .name {
	display: inline-block;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: bolder;
	text-align: left;
}
.duelmode_chooser .container .line .desc {
	display: inline-block;
	top: 10px;
	opacity: 0;
	font-size: 14px;
	vertical-align: super;
	transition: top 200ms ease-in-out, opacity 200ms ease-in-out;
}
[platform="mobile"] .duelmode_chooser .container .line .desc,
.duelmode_chooser .container .line:hover .desc {
	top: 0px;
	opacity: 1;
}
.duelmode_chooser .container .chooser_area {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 0px;
	right: 0px;
	white-space: nowrap;
}
.duelmode_chooser .container .chooser_area::-webkit-scrollbar {
	height: 5px;
}

.duelmode_chooser .container .chooser_area .card,
.scene.arena .container .card {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	background-color: rgb(15, 89, 164);
	border-radius: 20px;
	border: 10px solid rgb(20, 74, 116);
	box-shadow: inset 0px 0px 5px black;
	overflow: hidden;
	cursor: pointer;
}
.duelmode_chooser .container .chooser_area .card:last-child {
	margin-right: 10px;
}
.duelmode_chooser .container .chooser_area .card.selected {
	border-color: rgba(90, 18, 22, 1.0);
}
.duelmode_chooser .container .chooser_area .card div,
.scene.arena .container .card div {
	position: absolute;
	pointer-events: none;
}
.duelmode_chooser .container .chooser_area .card .name,
.scene.arena .container .card .name {
	top: -10px;
	left: -10px;
	padding: 10px;
	border-radius: 0px 0px 20px 0px;
	background-color: rgb(20, 74, 116);
}
.duelmode_chooser .container .chooser_area .card .avator,
.scene.arena .container .card .avator {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 16px;
	color: rgb(186, 204, 217);
}
.duelmode_chooser .container .chooser_area .card .point,
.scene.arena .container .card .point {
	bottom: 0px;
	height: 18px;
	padding: 5px;
	background-color: rgb(20, 74, 116);
	font-size: 14px;
	line-height: 14px;
	color: rgb(147, 181, 207);
}
.duelmode_chooser .container .chooser_area .card .extend,
.scene.arena .container .card .extend {
	left: 0;
	padding-right: 10px;
	border-radius: 0px 10px 0px 0px;
}
.duelmode_chooser .container .chooser_area .card .combine,
.scene.arena .container .card .combine {
	right: 0;
	padding-left: 10px;
	border-radius: 10px 0px 0px 0px;
}

.scene.arena .container div {
	/*box-shadow: 0px 0px 2px black;*/
}

.scene.arena .container > .left,
.scene.arena .container > .right {
	position: absolute;
	display: inline-block;
	top: 0px;
	height: 100%;
}
.scene.arena .container > .left {
	left: 0px;
	width: 35%;
}
.scene.arena .container > .right {
	right: 0px;
	width: 65%;
}

.scene.arena .container > .left > div {
	position: absolute;
	width: 100%;
}
.scene.arena .container > .left > .top {
	top: 0px;
}
.scene.arena .container > .left > .bottom {
	bottom: 0px;
}
.scene.arena .container > .left > .middle {
	top: 50%;
	transform: translateY(-50%);
}
.scene.arena .container .card .name {
	display: none;
}

@media screen and (max-height: 420px) {
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line {
		margin-top: 30px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .name {
		padding: 8px 20px;
		font-size: 20px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .desc {
		vertical-align: baseline;
	}
}
@media screen and (max-width: 420px) {
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line {
		margin-top: 30px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .name {
		padding: 8px 20px;
		font-size: 20px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .desc {
		vertical-align: baseline;
	}
}

@media screen and (max-height: 340px) {
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line {
		margin-top: 25px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 18px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .desc {
		font-size: 12px;
	}
}
@media screen and (max-width: 340px) {
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line {
		margin-top: 25px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 18px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .desc {
		font-size: 12px;
	}
}

@media screen and (max-height: 300px) {
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line {
		margin-top: 15px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 15px;
	}
}
@media screen and (max-width: 300px) {
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line {
		margin-top: 15px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 15px;
	}
}