.duelmode_chooser {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 94;
	width: 800px;
	max-width: 100%;
	height: 0px;
	max-height: 100%;
	padding: 10px 0px;
	background-color: rgba(31, 32, 64, 0.75);
	backdrop-filter: blur(5px);
	border-top: 3px solid rgba(21, 85, 154, 1.0);
	border-bottom: 3px solid rgba(21, 85, 154, 1.0);
	box-shadow: inset 0px -3px 5px rgba(126, 22, 113, 0.75);
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 300ms ease-in-out, height 300ms ease-in-out, transform 300ms ease-in-out;
	overflow: hidden;
	pointer-events: none;
}
[platform="mobile"] .duelmode_chooser {
	width: 100%;
}
.duelmode_chooser.show {
	height: 450px;
	opacity: 1;
	pointer-events: all;
}
[platform="mobile"] .duelmode_chooser.show {
	height: 100%;
}

.duelmode_chooser .title {
	padding: 10px;
	padding-top: 0px;
	border-bottom: 1px solid rgba(21, 85, 154, 1.0);
	box-shadow: 0px 3px 5px rgba(126, 22, 113, 0.75);
	font-size: 24px;
	font-weight: bolder;
}
.duelmode_chooser .container .line {
	display: block;
	width: 500px;
	height: 45px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(31, 32, 64, 0.0);
	border-left: 5px solid rgba(21, 85, 154, 1.0);
	border-bottom: 1px solid rgba(21, 85, 154, 1.0);
	box-shadow: 2px 3px 5px rgba(126, 22, 113, 0.75);
	cursor: pointer;
	transition: all 500ms ease-in-out;
}
.duelmode_chooser .container .line:hover {
	background-color: rgba(31, 32, 64, 0.5);
	box-shadow: 4px 6px 10px rgba(126, 22, 113, 1.0);
}
.duelmode_chooser .container .line.invalid {
	color: rgba(94, 97, 109, 1.0);
	pointer-events: none;
}
.duelmode_chooser .container .line.hide {
	height: 0px;
	margin-top: 0px !important;
	opacity: 0;
	transform: scaleY(0);
	pointer-events: none;
}
.duelmode_chooser .container .line.button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: auto;
	height: 32px;
	padding: 5px 25px;
}
.duelmode_chooser .container .line .name {
	display: inline-block;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: bolder;
	text-align: left;
}
.duelmode_chooser .container .line .desc {
	display: inline-block;
	top: 10px;
	opacity: 0;
	font-size: 14px;
	vertical-align: super;
	transition: top 200ms ease-in-out, opacity 200ms ease-in-out;
}
[platform="mobile"] .duelmode_chooser .container .line .desc,
.duelmode_chooser .container .line:hover .desc {
	top: 0px;
	opacity: 1;
}
.duelmode_chooser .container .chooser_area {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 0px;
	right: 0px;
	white-space: nowrap;
}
.duelmode_chooser .container .chooser_area::-webkit-scrollbar {
	height: 5px;
}

.duelmode_chooser .container .chooser_area .card,
.scene.arena .container .card {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	background-color: rgb(15, 89, 164);
	border-radius: 20px;
	border: 10px solid rgb(20, 74, 116);
	box-shadow: inset 0px 0px 5px black;
	overflow: hidden;
}
.duelmode_chooser .container .chooser_area .card {
	cursor: pointer;
}
.duelmode_chooser .container .chooser_area .card:last-child {
	margin-right: 10px;
}
.duelmode_chooser .container .chooser_area .card.selected {
	border-color: rgba(90, 18, 22, 1.0);
}
.duelmode_chooser .container .chooser_area .card div,
.scene.arena .container .card div {
	position: absolute;
	pointer-events: none;
}
.duelmode_chooser .container .chooser_area .card .name,
.scene.arena .container .card .name {
	top: -10px;
	left: -10px;
	padding: 10px;
	border-radius: 0px 0px 20px 0px;
	background-color: rgb(20, 74, 116);
}
.duelmode_chooser .container .chooser_area .card .avator,
.scene.arena .container .card .avator {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 16px;
	color: rgb(186, 204, 217);
}
.duelmode_chooser .container .chooser_area .card .point,
.scene.arena .container .card .point {
	bottom: 0px;
	height: 18px;
	padding: 5px;
	background-color: rgb(20, 74, 116);
	font-size: 14px;
	line-height: 14px;
	color: rgb(147, 181, 207);
}
.duelmode_chooser .container .chooser_area .card .extend,
.scene.arena .container .card .extend {
	left: 0;
	padding-right: 10px;
	border-radius: 0px 10px 0px 0px;
}
.duelmode_chooser .container .chooser_area .card .combine,
.scene.arena .container .card .combine {
	right: 0;
	padding-left: 10px;
	border-radius: 10px 0px 0px 0px;
}

.scene.arena .skill {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid rgba(20, 74, 116, 1.0);
}
.scene.arena .skill .name,
.scene.arena .skill .level,
.scene.arena .skill .type,
.scene.arena .skill .map {
	position: absolute;
	padding: 2px;
	background-color: rgb(21, 85, 154);
	font-size: 8px;
	pointer-events: none;
}
.scene.arena .skill .name,
.scene.arena .skill .level {
	top: 0px;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.scene.arena .skill .name {
	left: 0px;
	border-radius: 0px 0px 5px 0px;
}
.scene.arena .skill .level {
	right: 0px;
	border-radius: 0px 0px 0px 5px;
}
.scene.arena .skill .type {
	bottom: 0px;
	left: 50%;
	border-radius: 5px 5px 0px 0px;
	transform: translateX(-50%);
	font-style: italic;
	color: rgb(167, 168, 189);
}
.scene.arena .skill .map {
	top: 30%;
	left: 16%;
	width: 68%;
	height: 51%;
	padding: 0px;
	white-space: break-spaces;
	line-height: 0px;
}
.scene.arena .skill .map .grid {
	display: inline-block;
	width: 20%;
	height: 20%;
	border: 1px solid black;
	background-color: rgb(255, 254, 249);
}
.scene.arena .skill .map .grid.pos {
	background-color: rgb(254, 215, 26);
}
.scene.arena .skill .map .grid.gate {
	background-color: rgb(21, 35, 27);
}

.scene.arena .container > div {
	position: absolute;
	top: 5px;
	bottom: 5px;
}

.scene.arena .container .side_bar {
	left: 0px;
	z-index: 1;
	width: 210px;
	padding-left: 10px;
}
[platform="mobile"] .scene.arena .container .side_bar {
	width: 160px;
}
.scene.arena .container .side_bar .hero_tab {
	width: 180px;
	margin-top: 10px;
	margin-left: auto;
	padding: 5px 10px;
	background-color: rgba(50, 47, 59, 1.0);
	border-bottom: 2px solid rgba(20, 74, 116, 1.0);
	border-left: 5px solid rgba(20, 74, 116, 1.0);
	font-size: 16px;
	cursor: pointer;
}
.scene.arena .container .side_bar .hero_tab:first-child {
	margin-top: 20px;
}
[platform="mobile"] .scene.arena .container .side_bar .hero_tab {
	width: 140px;
	font-size: 14px;
}
[platform="mobile"] .scene.arena .container .side_bar .hero_tab:first-child {
	margin-top: 15px;
}
.scene.arena .container .side_bar .hero_tab.current {
	border-top-width: 2px;
	border-top-style: solid;
}
.scene.arena .container .side_bar .hero_tab.selected {
	width: 200px;
	padding-left: 30px;
}
[platform="mobile"] .scene.arena .container .side_bar .hero_tab.selected {
	width: 150px;
	padding-left: 20px;
}
.scene.arena .container .side_bar .hero_tab.my_side {
	border-color: rgba(20, 74, 116, 1.0);
}
.scene.arena .container .side_bar .hero_tab.op_side {
	border-color: rgba(126, 22, 113, 1.0);
}
.scene.arena .container .side_bar .hero_tab.loop_tab {
	position: absolute;
	bottom: 10px;
	left: 110px;
	width: 100px;
	border-color: rgba(101, 103, 101, 1.0);
	pointer-events: none;
}
[platform="mobile"] .scene.arena .container .side_bar .hero_tab.loop_tab {
	left: 60px;
}

.scene.arena .container .card_area {
	left: 208px;
	right: 40%;
	background-color: rgba(50, 47, 59, 1.0);
	border-radius: 10px 0px 0px 10px;
	border: 2px solid rgba(20, 74, 116, 1.0);
	border-right-width: 1px;
}
[platform="mobile"] .scene.arena .container .card_area {
	left: 158px;
}
.scene.arena .container .card_area.op_side {
	border-color: rgba(126, 22, 113, 1.0);
}

.scene.arena .container .card_area .hero_area {
	position: absolute;
	top: 5px;
	left: 5px;
}
.scene.arena .container .card_area .hero_area .card {
	width: 100%;
	height: 100%;
	margin-left: 0px;
	border-width: 2px;
	font-size: 10px;
}
.scene.arena .container .card_area .hero_area .card .name {
	top: -2px;
	left: -2px;
	font-size: 1.6em;
}
[platform="mobile"] .scene.arena .container .card_area .hero_area .card .name {
	max-width: 85%;
	overflow: hidden;
	font-size: 0.8em;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.scene.arena .container .card_area .hero_area .card .extend,
.scene.arena .container .card_area .hero_area .card .combine {
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2em;
}
[platform="mobile"] .scene.arena .container .card_area .hero_area .card .extend,
[platform="mobile"] .scene.arena .container .card_area .hero_area .card .combine {
	font-size: 0.6em;
}

.scene.arena .container .card_area .info_area {
	position: absolute;
	top: 5px;
	right: 5px;
}
.scene.arena .container .card_area .info_area .line {
	margin-top: 15px;
	margin-bottom: 15px;
}
.scene.arena .container .card_area .info_area .line .hint {
	display: inline-block;
	width: 100px;
	text-align-last: justify;
	font-weight: bolder;
}
.scene.arena .container .card_area .info_area .line.person {
	padding-top: 10px;
	border-top: 1px solid white;
}
[platform="mobile"] .scene.arena .container .card_area .info_area .line.person {
	margin-top: 5px;
	padding-top: 0px;
}
[platform="mobile"] .scene.arena .container .card_area .info_area .line {
	margin-top: 2px;
	margin-bottom: 2px;
}
[platform="mobile"] .scene.arena .container .card_area .info_area .line .hint {
	width: 70px;
	font-size: 8px;
}
[platform="mobile"] .scene.arena .container .card_area .info_area .line .info {
	font-size: 8px;
}

.scene.arena .container .card_area .card_area {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid rgba(20, 74, 116, 1.0);
}
.scene.arena .container .card_area.op_side .card_area {
	border-color: rgba(126, 22, 113, 1.0);
}
.scene.arena .container .card_area .card_area .legend {
	width: 80px;
	padding: 5px 10px;
	border-radius: 8px 8px 0px 0px;
	background-color: rgba(20, 74, 116, 1.0);
	font-size: 9px;
}
.scene.arena .container .card_area.op_side .card_area .legend {
	background-color: rgba(126, 22, 113, 1.0);
}
[platform="desktop"] .scene.arena .container .card_area .card_area .legend {
	width: 100px;
	text-align: center;
	pointer-events: none;
}
[platform="mobile"] .scene.arena .container .card_area .card_area .legend {
	position: absolute;
	top: 5px;
	width: 80px;
	min-width: 25%;
	background-color: rgba(116, 120, 122, 1.0);
	box-shadow: inset 0px 0px 2px black, 1px 1px 3px rgba(0, 0, 0, 0.6);
	font-size: 8px;
}
[platform="mobile"] .scene.arena .container .card_area .card_area .legend.selected {
	z-index: 1;
	background-color: rgba(20, 74, 116, 1.0);
	box-shadow: inset 0px 0px 2px black, 0px 0px 0px rgba(0, 0, 0, 0);
}
[platform="mobile"] .scene.arena .container .card_area.op_side .card_area .legend.selected {
	background-color: rgba(126, 22, 113, 1.0);
}
[platform="mobile"] .scene.arena .container .card_area .card_area .legend[name="hero"] {
	left: 0%;
	margin-left: 5px;
	transform: translateX(0%);
}
[platform="mobile"] .scene.arena .container .card_area .card_area .legend[name="extends"] {
	left: 33.3333333%;
	margin-left: 1.3333px;
	transform: translateX(-33.333333%);
}
[platform="mobile"] .scene.arena .container .card_area .card_area .legend[name="combine"] {
	left: 66.6666667%;
	margin-left: -1.3334px;
	transform: translateX(-66.666667%);
}
[platform="mobile"] .scene.arena .container .card_area .card_area .legend[name="hands"] {
	left: 100%;
	margin-left: -5px;
	transform: translateX(-100%);
}
.scene.arena .container .card_area .card_area .skill_list {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 0px 5px 5px 5px;
	border: 1px solid rgba(20, 74, 116, 1.0);
	overflow-y: hidden;
	overflow-x: overlay;
	white-space: nowrap;
}
.scene.arena .container .card_area .card_area .skill_list:last-child {
	margin-bottom: 0px;
}
.scene.arena .container .card_area.op_side .card_area .skill_list {
	border-color: rgba(126, 22, 113, 1.0);
}
[platform="mobile"] .scene.arena .container .card_area .card_area .skill_list {
	position: absolute;
	top: 30px;
	left: 5px;
	right: 5px;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
}
[platform="mobile"] .scene.arena .container .card_area .card_area .skill_list.selected {
	opacity: 1;
	pointer-events: auto;
}
.scene.arena .container .card_area .card_area .skill_panel .skill:last-child {
	margin-right: 0px;
}
.scene.arena .container .card_area .card_area .skill_panel .skill.world_skill {
	border-color: rgba(109, 46, 91, 1.0);
}
[platform="desktop"] .scene.arena .container .card_area .card_area .skill_panel .skill {
	cursor: pointer;
}
.scene.arena .container .card_area .card_area .skill_selector {
	position: absolute;
	z-index: 2;
	background-color: rgba(20, 74, 116, 0.85);
	opacity: 0;
	pointer-events: none;
}
.scene.arena .container .card_area .card_area .skill_selector.show {
	opacity: 1;
	pointer-events: auto;
}
[platform="mobile"] .scene.arena .container .card_area .card_area .skill_selector {
	top: 5px;
	left: 5px;
	right: 5px;
	padding: 5px;
	border-radius: 5px;
}
[platform="desktop"] .scene.arena .container .card_area .card_area .skill_selector {
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 10px;
	border-radius: 10px;
}
.scene.arena .container .card_area .card_area .skill_selector .hint {
	font-weight: bolder;
	border-bottom: 1px solid white;
}
[platform="mobile"] .scene.arena .container .card_area .card_area .skill_selector .hint {
	padding-bottom: 5px;
	font-size: 12px;
}
[platform="desktop"] .scene.arena .container .card_area .card_area .skill_selector .hint {
	padding-bottom: 10px;
	font-size: 18px;
}
.scene.arena .container .card_area .card_area .skill_selector .hint span {
	zoom: 0.8;
}
.scene.arena .container .card_area .card_area .skill_selector .hint span.abaddon {
	float: right;
	cursor: pointer;
}
.scene.arena .container .card_area .card_area .skill_selector .list {
}
[platform="mobile"] .scene.arena .container .card_area .card_area .skill_selector .list {
	height: 100px;
	margin-top: 5px;
	overflow-x: overlay;
	overflow-y: hidden;
}
[platform="desktop"] .scene.arena .container .card_area .card_area .skill_selector .list {
	position: absolute;
	top: 60px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	overflow-x: hidden;
	overflow-y: overlay;
}
.scene.arena .container .card_area .card_area .skill_selector .list .skill {
	border-color: black;
}
.scene.arena .container .card_area .card_area .skill_selector .list .skill.handing {
	border-color: rgba(123, 144, 210, 1.0);
}

.scene.arena .container .arena_area {
	left: 60%;
	right: 5px;
	background-color: rgba(50, 47, 59, 1.0);
	border-radius: 0px 10px 10px 0px;
	border: 2px solid rgba(20, 74, 116, 1.0);
	border-left-width: 1px;
}
.scene.arena .container .arena_area.op_side {
	border-color: rgba(126, 22, 113, 1.0);
}
.scene.arena .container .arena_area .board {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0px;
	box-shadow: 0px 0px 2px black;
	transform: translate(-50%, -50%);
	white-space: break-spaces;
	line-height: 0px;
}
.scene.arena .container .arena_area .board .block {
	display: inline-block;
	border: 1px solid black;
	background-color: rgba(202, 122, 44, 1.0);
	cursor: pointer;
}
.scene.arena .container .arena_area .board .block.hide {
	display: none;
}
.scene.arena .container .arena_area .board .block.owned {
	border-radius: 50%;
}
.scene.arena .container .arena_area .board .block.current {
	border-color: white;
}
.scene.arena .container .arena_area .board .block.waiting {
	border-radius: 20%;
	background-color: rgba(250, 214, 137, 1.0);
}

.scene.arena .card_chooser {
	position: absolute;
	z-index: 1;
	border: 5px solid black;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	opacity: 0;
	pointer-events: none;
}
[platform="mobile"] .scene.arena .card_chooser {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
[platform="desktop"] .scene.arena .card_chooser {
	top: 50%;
	left: 50%;
	width: 800px;
	max-width: 100%;
	height: 500px;
	max-height: 100%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}
.scene.arena .card_chooser.show {
	opacity: 1;
	pointer-events: auto;
}
.scene.arena .card_chooser .title {
	margin-bottom: 10px;
	padding: 5px 10px;
	border-bottom: 1px solid white;
	font-weight: bolder;
}
.scene.arena .card_chooser .area {
	position: absolute;
	top: 50px;
	bottom: 10px;
	left: 5px;
	right: 5px;
}
.scene.arena .card_chooser .area .panel {
	margin-bottom: 10px;
}

@media screen and (max-height: 420px) {
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line {
		margin-top: 30px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .name {
		padding: 8px 20px;
		font-size: 20px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .desc {
		vertical-align: baseline;
	}
}
@media screen and (max-width: 420px) {
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line {
		margin-top: 30px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .name {
		padding: 8px 20px;
		font-size: 20px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .desc {
		vertical-align: baseline;
	}
}

@media screen and (max-height: 340px) {
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line {
		margin-top: 25px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 18px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .desc {
		font-size: 12px;
	}
}
@media screen and (max-width: 340px) {
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line {
		margin-top: 25px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 18px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .desc {
		font-size: 12px;
	}
}

@media screen and (max-height: 300px) {
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line {
		margin-top: 15px;
	}
	[platform="mobile"][screen="horizontal"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 15px;
	}
}
@media screen and (max-width: 300px) {
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line {
		margin-top: 15px;
	}
	[platform="mobile"][screen="vertical"] .duelmode_chooser .container .line .name {
		padding: 5px 20px;
		font-size: 15px;
	}
}