@keyframes shining {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgb(62, 56, 65);
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
section, article, div, p, span, button {
	box-sizing: border-box;
	user-select: none;
	outline: none;
}
button {
	padding: 5px 15px;
	background-color: rgba(186, 204, 217, 0.8);
	border: 1px solid black;
	border-radius: 3px;
	font-size: 20px;
}
button:active {
	background-color: rgb(192, 196, 195);
	box-shadow: 2px 2px 5px black;
}
button, input, textarea {
	outline: none;
}
input[type="text"] {
	padding: 2px 5px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	color: white;
}

.animated {
	transition: all 300ms ease-in-out;
}
.scrollable {
	overflow: overlay;
}
.scrollable::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
	cursor: pointer;
}
.scrollable::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: rgb(35, 35, 35);
	box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.scrollable::-webkit-scrollbar-track {
	border-radius: 2px;
	background-color: rgba(225, 225, 225, 0.1);
	box-shadow: inset 1px 1px 2px rgba(53, 53, 53, 0.2);
	cursor: pointer;
}

section.page {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: white;
	transition: opacity 300ms ease-in-out;
}
.loading section.page {
	opacity: 0;
}
[platform="mobile"][screen="vertical"] section.page {
	transform: rotate(90deg);
}

div.fullscreen {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	z-index: 101;
	cursor: pointer;
}
[platform="desktop"] div.fullscreen {
	display: none;
}

.mask_background {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background-color: rgba(50, 47, 59, 0.5);
	backdrop-filter: blur(5px);
	opacity: 0;
	transition: opacity 300ms ease-in-out;
	pointer-events: none;
}
.mask_background.show {
	pointer-events: all;
	opacity: 1;
}

.loading_hint {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 101;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease-in-out;
}
.loading_hint.show {
	opacity: 1;
	pointer-events: all;
}
.loading_hint .fa-solid {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	font-size: 80px;
	font-weight: bolder;
}

.alarm_win {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 101;
	min-width: 150px;
	min-height: 100px;
	background-color: rgba(31, 32, 64, 0.8);
	border-radius: 20px;
	border: 1px solid black;
	opacity: 0;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: opacity 300ms ease-in-out;
}
.alarm_win.show {
	opacity: 1;
	pointer-events: all;
}
.alarm_win .closer {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}
.alarm_win .title {
	padding: 10px 20px;
	border-bottom: 1px solid white;
	font-size: 20px;
	font-weight: bolder;
}
.alarm_win .content {
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
}

.qualify {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 102;
	width: 300px;
	height: 140px;
	margin-top: -70px;
	margin-left: -150px;
	padding: 10px;
	background-color: rgb(19, 17, 36);
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 5px black;
	opacity: 1;
	transform: translateY(0%);
}
.qualify.hide {
	opacity: 0;
	transform: translateY(-50%);
	pointer-events: none;
}
.qualify .title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bolder;
}
.qualify input {
	width: -webkit-fill-available;
}
.qualify .panel {
	margin-top: 20px;
	text-align: center;
}
.qualify .panel button {
	margin: 0px 10px;
	padding: 5px 15px;
	font-size: 16px;
}

.scene {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scene.panel {
	top: 0px;
	left: 0px;
	background-color: rgb(20, 35, 52);
	opacity: 1;
	transform: scale(1);
	transition: all 1500ms ease;
}
.scene.panel.hide {
	opacity: 0;
	transform: scale(0.5);
	pointer-events: none;
}

.scene > .title {
	position: relative;
	height: 45px;
	z-index: 1;
	padding: 5px 10px;
	border-top: 1px solid rgb(22, 97, 171);
	border-left: 10px solid rgb(22, 97, 171);
	box-shadow: 2px 2px 5px black;
	font-size: 24px;
	font-weight: bolder;
	transform: translateZ(1px);
}
.scene > .title .backer {
	position: absolute;
	top: 11px;
	right: 45px;
	cursor: pointer;
}

.scene > .container {
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid rgb(22, 97, 171);
}