.scene.welcome {
	background-color: rgb(71, 72, 76);
}
.scene.welcome.hide {
	pointer-events: none;
}

.scene.welcome .screen {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 95%;
	max-width: 1000px;
	height: 80%;
	max-height: 600px;
	z-index: 15;
	opacity: 1;
	transform: translate(-50%, -50%);
	color: rgb(238, 247, 242);
	transition-duration: 1000ms;
}
.scene.welcome .screen.waiting {
	opacity: 0;
}
.scene.welcome .screen .title {
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	transition: opacity 200ms linear, transform 200ms linear;
}
.scene.welcome .screen .option {
	display: block;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	opacity: 0;
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	cursor: pointer;
	transition: opacity 200ms linear, transform 200ms linear;
}
.scene.welcome .screen .option:before {
	margin-right: 10px;
}
.scene.welcome .screen .option span {
	pointer-events: none;
}
.scene.welcome .screen .hint {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 10px;
	color: rgb(86, 152, 195);
	transition: opacity 200ms linear, transform 200ms linear;
}
.scene.welcome .commandLine {
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 14;
	padding: 10px;
	overflow: hidden;
	font-size: 10px;
}
.scene.welcome .commandLine .line {
	position: relative;
	left: 0px;
	opacity: 1;
	color: rgb(99, 127, 119);
	line-height: 15px;
	transition: left 200ms ease-in, opacity 200ms ease-in;
}
.scene.welcome .commandLine .line.reply {
	color: rgb(99, 119, 127);
}
.scene.welcome .commandLine .line.current {
	color: rgb(131, 203, 172);
}
.scene.welcome .commandLine .line:nth-child(2) {
	color: rgb(102, 193, 140);
}
.scene.welcome .commandLine .line:nth-child(3) {
	color: rgb(102, 185, 137);
}
.scene.welcome .commandLine .line:nth-child(4) {
	color: rgb(101, 177, 135);
}
.scene.welcome .commandLine .line:nth-child(5) {
	color: rgb(101, 168, 132);
}
.scene.welcome .commandLine .line:nth-child(6) {
	color: rgb(101, 160, 130);
}
.scene.welcome .commandLine .line:nth-child(7) {
	color: rgb(100, 152, 127);
}
.scene.welcome .commandLine .line:nth-child(8) {
	color: rgb(100, 144, 124);
}
.scene.welcome .commandLine .line:nth-child(9) {
	color: rgb(99, 135, 122);
}
.scene.welcome .commandLine .line.reply:nth-child(2) {
	color: rgb(41, 131, 187);
}
.scene.welcome .commandLine .line.reply:nth-child(3) {
	color: rgb(48, 130, 180);
}
.scene.welcome .commandLine .line.reply:nth-child(4) {
	color: rgb(56, 128, 172);
}
.scene.welcome .commandLine .line.reply:nth-child(5) {
	color: rgb(63, 127, 165);
}
.scene.welcome .commandLine .line.reply:nth-child(6) {
	color: rgb(70, 125, 157);
}
.scene.welcome .commandLine .line.reply:nth-child(7) {
	color: rgb(77, 124, 150);
}
.scene.welcome .commandLine .line.reply:nth-child(8) {
	color: rgb(85, 122, 142);
}
.scene.welcome .commandLine .line.reply:nth-child(9) {
	color: rgb(92, 121, 135);
}
.scene.welcome .commandLine .line.hide {
	left: -100px;
	opacity: 0;
}
.scene.welcome .cursor {
	display: inline-block;
	width: 1px;
	background-color: white;
	vertical-align: text-bottom;
	animation-name: shining;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
}
.scene.welcome .cursor.hide {
	display: none;
}
.scene.welcome .screen .title .cursor {
	height: 50px;
}
.scene.welcome .screen .option .cursor {
	height: 20px;
}
.scene.welcome .commandLine .cursor {
	height: 12px;
	background-color: rgb(131, 203, 172);
}
.scene.welcome .block {
	position: absolute;
	background-color: rgb(71, 72, 76);
	border: 1px solid rgb(71, 72, 76);
	transform: scale(1);
	transition: background-color 1500ms ease-in-out, transform 1500ms ease-in-out, left 1000ms ease-in, top 1000ms ease-in, opacity 1500ms ease-in;
}
.scene.welcome .block.activeBG {
	background-color: rgba(53, 51, 60, 0.8);
}
.scene.welcome .block.activeSZ {
	transform: scale(1.2);
}

@media screen and (max-height: 500px) {
	[platform="mobile"][screen="horizontal"] .scene.welcome .screen .title {
		margin-bottom: 30px;
		font-size: 36px;
	}
	[platform="mobile"][screen="horizontal"] .scene.welcome .screen .option {
		margin-top: 20px;
		font-size: 16px;
	}
	[platform="mobile"][screen="horizontal"] .scene.welcome .screen .title .cursor {
		height: 36px;
	}
	[platform="mobile"][screen="horizontal"] .scene.welcome .screen .option .cursor {
		height: 16px;
	}
}
@media screen and (max-width: 500px) {
	[platform="mobile"][screen="vertical"] .scene.welcome .screen .title {
		margin-bottom: 30px;
		font-size: 36px;
	}
	[platform="mobile"][screen="vertical"] .scene.welcome .screen .option {
		margin-top: 20px;
		font-size: 16px;
	}
	[platform="mobile"][screen="vertical"] .scene.welcome .screen .title .cursor {
		height: 36px;
	}
	[platform="mobile"][screen="vertical"] .scene.welcome .screen .option .cursor {
		height: 16px;
	}
}