.ppt-page {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	min-height: 60%;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	transform: translateY(-50%);
}
.mobile .ppt-page {
	padding-left: 20px;
	padding-right: 35px;
}
.ppt-page h1 {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 28px;
	text-align: center;
}
.ppt-page h2 {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 24px;
	text-align: center;
}
.ppt-page h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: 20px;
	text-align: left;
}
.ppt-page h4 {
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 15px;
	font-size: 16px;
	text-align: left;
}
.ppt-page .subtitle {
	width: 100%;
	margin-bottom: 15px;
	padding-right: 10px;
	box-sizing: border-box;
	text-align: right;
	font-weight: bolder;
}
.ppt-page .subtitle::before {
	content: "——";
}
.ppt-page hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-color: black;
	border-bottom-color: white;
	background-color: gray;
	border-radius: 2px;
}

.ppt-page .mention {
	text-align: center;
}
.ppt-page .content {
	box-sizing: border-box;
	padding: 20px;
	font-size: 16px;
	line-height: 1.8;
}
.ppt-page .area {
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
	line-height: 1.6;
}
.ppt-page .area .float {
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.ppt-page .area p {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.ppt-page ol,
.ppt-page ul {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 18px;
}
.ppt-page ol.close,
.ppt-page ul.close {
	margin-top: 10px;
	margin-bottom: 5px;
}
.ppt-page li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ppt-page .block {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.ppt-page .float-container {
	position: relative;
}
.ppt-page .float {
	position: absolute;
}
.ppt-page .float.block {
	left: 50%;
	transform: translateX(-50%);
}

.center {
	text-align: center !important;
}
.left {
	text-align: left !important;
}
.right {
	text-align: right !important;
}

h1.left,
h2.left {
	padding-left: 15px;
}
h1.right,
h2.right {
	padding-right: 15px;
}

.top-margin {
	margin-top: 10px;
}
.top-margin[data-margin="0"] {
	margin-top: 0px;
}
.top-margin[data-margin="20"] {
	margin-top: 20px;
}
.top-margin[data-margin="30"] {
	margin-top: 30px;
}
.top-margin[data-margin="40"] {
	margin-top: 40px;
}
.top-margin[data-margin="50"] {
	margin-top: 50px;
}
.top-margin[data-margin="100"] {
	margin-top: 100px;
}
.top-margin[data-margin="150"] {
	margin-top: 150px;
}
.top-margin[data-margin="200"] {
	margin-top: 200px;
}

.span {
	display: inline-block;
	width: 10px;
	min-height: 5px;
}
.span[data-width="20"] {
	width: 20px;
}
.span[data-width="30"] {
	width: 30px;
}
.span[data-width="40"] {
	width: 40px;
}
.span[data-width="50"] {
	width: 50px;
}
.span[data-width="100"] {
	width: 100px;
}

.blank {
	display: inline-block;
	height: 10px;
	min-width: 5px;
}
.blank[data-height="20"] {
	height: 20px;
}
.blank[data-height="30"] {
	height: 30px;
}
.blank[data-height="40"] {
	height: 40px;
}
.blank[data-height="50"] {
	height: 50px;
}
.blank[data-height="60"] {
	height: 60px;
}
.blank[data-height="80"] {
	height: 80px;
}
.blank[data-height="100"] {
	height: 100px;
}

@media (max-width: 500px) {
	h1.left,
	h2.left {
		padding-left: 10px;
	}
	h1.right,
	h2.right {
		padding-right: 10px;
	}

	.ppt-page hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.ppt-page .area {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.ppt-page .area .float {
		padding: 5px 10px 5px 10px;
	}

	.ppt-page h1 {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 24px;
	}
	.ppt-page h2 {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 18px;
	}
	.ppt-page h3 {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		font-size: 15px;
	}
	.ppt-page h4 {
		margin-top: 8px;
		margin-bottom: 5px;
		margin-left: 10px;
		font-size: 15px;
	}
	.ppt-page .content {
		font-size: 14px;
	}
	.ppt-page ol,
	.ppt-page ul {
		font-size: 14px;
	}
	.ppt-page li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}