.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.background img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: opacity 400ms ease-in-out, left 400ms ease-in-out, top 400ms ease-in-out;
}